body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.contenedor1 {
  margin: auto;
  width: 80%;
  border: 0.1px solid #73AD21;
  padding: 10px; 
  margin: 20px;
  word-wrap: break-word;
  text-align: center;
}

.contenedor {
  margin: auto;
  width: 80%;
  border: 0.1px solid #73AD21;
  padding: 10px; 
  margin: 20px;
  word-wrap: break-word;
}
